body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Yeni tema dosyasını ekleyin */
@import "primereact/resources/themes/lara-light-indigo/theme.css"; /* Yeni tema */
@import "primereact/resources/primereact.min.css"; /* PrimeReact Teması için temel stiller */
@import "primeicons/primeicons.css"; /* PrimeIcons için stiller */
